<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main_layout :: head"></head>
<body>
	<header th:replace="layout/main_layout :: header"></header>

	<div class="container py-4">
		<h2 class="font-weight-bold text-secondary" th:text="${titulo}"></h2>
		<form class="p-2" th:action="@{/events/create}" method="post" th:object="${event}" 
		enctype="multipart/form-data">
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Concepto:</label>
				<input type="text" th:field="*{name}" class="form-control col-sm-6"
					required="required" /> 
			</div>
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Total a pagar:</label>
				<div class="col-sm-6" style="padding: 0px">
					<input type="number" min="0" step=".01" th:field="*{amount}" placeholder="0.00" class="form-control" 
						th:errorclass="'form-control alert-danger'"
						required="required" /> 
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Etiqueta:</label>
				<div class="col-sm-6" style="padding: 0px">
					<select class="form-control" th:field="*{label}" >
						<option th:each="label: ${labels}" th:value="${label.id}" th:text="${label.name}"></option>
					</select>
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('label')}" th:errors="*{label}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Metodo de pago:</label>
				<div class="col-sm-6" style="padding: 0px">
					<select class="form-control" th:field="*{paymentMethod}" >
						<option th:each="pm: ${pms}" th:value="${pm.id}" th:text="${pm.name}"></option>
					</select>
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('paymentMethod')}" th:errors="*{paymentMethod}"></small>
				</div>
			</div>
			<div class="form-group row">
				<div  class="col-sm-3 d-flex" style="flex-flow: column;">
					<label for="name" class="col-form-label">Imagen representativa:</label>
					<img alt="Evento" th:src="@{${event.img!=null}?'/events/uploads/'+*{img}:'/events/uploads/none.png'}" width="50%">
				</div>
				<div class="col-sm-5 d-flex align-self-center" style="flex-flow: column;">
					<select class="form-control my-2" th:field="*{img}" id="img" >
						<option value="img_default.png">Bg 1</option>
						<option value="none">Subir imagen</option>
					</select>
					<input type="file" name="file" class="form-control" id="imgFile" style="display: none;" />
				</div>
			</div>
				
				
			<input type="submit" th:value="${text_btn}" class="btn btn-primary col-sm-2"/>
		</form>
	</div>
	
	<footer th:replace="layout/main_layout :: footer(~{::script})">
		<script type="text/javascript">
		$("select#img").change(function() {
			if($(this).children("option:selected").index()>0){
				$("#imgFile").show();
			}else{
				$("#imgFile").hide();
			}
		});
		</script>
	</footer>
</body>
</html>