<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main_layout :: head"></head>
<body>
	<header th:replace="layout/main_layout :: header"></header>

	<div class="container py-4">
		<h2 class="font-weight-bold text-secondary">Agregar Metodo de Pago</h2>
		<form class="row p-3" th:action="@{/pms/create}" th:method="post"
			th:object="${pm}">
			<input type="text" th:field="*{name}"
				class="form-control my-2" required="required" /> 
			<input type="submit"  th:value="${text_btn}" class="btn btn-primary" />
		</form>
	</div>
	<footer th:replace="layout/main_layout :: footer(~{::script})">
		<script src=""></script>
	</footer>
</body>
</html>