<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main_layout :: head"></head>
<body>
	<header th:replace="layout/main_layout :: header"></header>

	<div class="container py-4">
	<div class="row">
		<div class="col-sm-4">
			<img alt="" th:src="@{'/user/uploads/'+${user.profileImg}}" width="50%">
		</div>
		<div class="col-sm-8 d-flex justify-content-start  flex-column">
			<h2 class="my-2" th:text="${user.username}"></h2>
			<h4 class="text-secondary my-2 ml-2" th:text="${user.email}"></h4>
			<button class="btn btn-warning my-2 text-light" onclick="$('#change-pass').show();" >Cambiar contraseña</button>
			<button class="btn btn-info my-2" onclick="$('#change-img').show();">Cambiar imagen</button>
		</div>
	</div>
	<div class="container py-5">
		<form id="change-pass" th:action="@{'/user/change-pass'}" method="post" 
			th:object="${user}" style="display: none;">
			<div class="form-group row">
						<label for="pass" class="col-sm-2 col-form-label">Contraseña</label>
						<div class="col-sm-6">
							<input id="pass" type="password" th:field="*{pass}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="confirm_pass" class="col-sm-2 col-form-label">Confirmar
							contraseña</label>
						<div class="col-sm-6">
							<input id="confirm_pass" type="password" class="form-control" />
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Cambiar contraseña" class="btn btn-success" />
						</div>
					</div>
		</form>
		<form id="change-img" th:action="@{'/user/change-img'}" method="post" th:object="${user}" 
			enctype="multipart/form-data" style="display: none;">
			<div class="form-group row">
				<div  class="col-sm-3 d-flex" style="flex-flow: column;">
					<label for="name" class="col-form-label">Imagen de perfil:</label>
					<img alt="Perfil" th:src="@{'/user/uploads/'+*{profileImg}}" width="50%">
				</div>
				<div class="col-sm-5 d-flex align-self-center" style="flex-flow: column;">
					<input type="file" name="file" class="form-control" id="imgFile" />
				</div>
			</div>
			
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="submit" value="Cambiar imagen" class="btn btn-primary" />
					</div>
				</div>
		</form>
	</div>
		
	</div>
	<footer th:replace="layout/main_layout :: footer(~{::script})">
		<script type="text/javascript">
			var password = document.getElementById("pass"), confirm_password = document
				.getElementById("confirm_pass");
	
			function validatePassword() {
				if (password.value != confirm_password.value) {
					confirm_password
						.setCustomValidity("Ingrese la misma contraseña");
				} else {
					confirm_password.setCustomValidity('');
				}
			}
	
			password.onchange = validatePassword;
			confirm_password.onkeyup = validatePassword;
		</script>
	</footer>
</body>
</html>