<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/main_layout :: head"></head>

<body>
	<div class="container py-4">
		<div class="alert alert-success" th:if="${success!=null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error!=null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning!=null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info!=null}" th:text="${info}"></div>

		<div class="d-flex" style="justify-content: center; flex-flow: column;align-items: center;">
			<h1 class="mb-4">ShareExpensesApp</h1>
			<form th:action="@{/login}" method="post"
				style="text-align: center; width: 50%;">
				
				<div class="form-group col-sm-12">
					<input type="text" name="username" id="username" class="form-control"
						placeholder="Nombre de usuario" autofocus required />
				</div>

				<div class="form-group col-sm-12">
					<input type="password" name="password" id="password" class="form-control" placeholder="Contraseña"
						required />
				</div>

				<div class="form-group col-sm">
					<input style="width: 50%" type="submit" class="btn btn-primary" value="Ingresar" />
				</div>


				<div class="form-group col-sm mt-5">
					<a th:href="@{/registration}" class="btn btn-danger">Registrarse</a>
				</div>
			</form>
		</div>
	</div>

	<footer th:replace="layout/main_layout :: footer(~{::script})">
	<script type="text/javascript"></script>
	</footer>
</body>

</html>