<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/main_layout :: head"></head>
<body>
	<header th:replace="layout/main_layout :: header"></header>

	<div class="container py-4">
		<h2 class="font-weight-bold text-secondary">Agregar Etiqueta</h2>
		<form class="row p-2" th:action="@{/labels/create}" method="post" th:object="${label}">
			<input type="text" th:field="*{name}" class="form-control col-sm-5 m-2"
				required="required" /> 
			<select class="form-control col-sm-5 m-2" th:field="*{color}" >
				<option value="#f44336">Rojo</option>
				<option value="#e91e63">Rosa</option>
				<option value="#9c27b0">Purpura</option>
				<option value="#2196f3">Azul</option>
				<option value="#4caf50">Verde</option>
				<option value="#ffeb3b">Amarillo</option>
				<option value="#ff9800">Anaranjado</option>
			</select>
			<input type="submit" th:value="${text_btn}" class="btn btn-primary col-sm-2 mx-2"/>
		</form>
	</div>
	<footer th:replace="layout/main_layout :: footer(~{::script})">
		<script src=""></script>
	</footer>
</body>
</html>